.chat-input {
  display: flex;
  padding: 20px;
  background-color: #d8e3fa;
  border-top: 1px solid lightgray;

  &__emoji-picker {
    position: absolute;
    bottom: 50px;
  }
  &__smile-btn,
  &__actions {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    width: 70px;
    &-upload-btn {
      input {
        cursor: pointer;
      }
      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }

  &__smile-btn {
    width: 40px;
  }
  .ant-btn-circle {
    i.anticon {
      font-size: 20px;
      cursor: pointer;
    }

  }

  input {
    &:focus {
      box-shadow: none;
    }
  }
}